html,
body {
  overflow: hidden;
}
.rounded {
  border-radius: 20px;
}
#app {
  display: flex;
  flex-direction: column;
}
#topbar {
  background-color: #1d1d1d;
  color: #fff;
  font-size: 10px;
  height: 30px;
  width: 100%;
  justify-content: space-between;
  /* Space between the items */
}
header,
main,
footer,
#topbar {
  display: flex;
}
header {
  justify-content: space-evenly;
  height: 25vh;
  background: #ddd;
}
header > * {
  /* Target all direct children of header */
  flex: 1;
  /* Allow each child to fill available space equally */
}
main {
  height: 50vh;
  background: #999;
}
footer {
  height: 25vh;
}
#hidden {
  display: none;
}
#topbar > div {
  flex: 1;
  /* Make each child div take equal space */
  text-align: center;
  /* Optional: to center text within each div */
}
.settings field {
  width: 100%;
  display: flex;
}
.settings label {
  margin-right: 10px;
}
.card {
  border-radius: 20px;
}
.asrvosk-plugin {
  max-width: 100px;
  background: #396350;
}
.asrvosk-plugin .mic {
  padding: 20px;
}
.asrvosk-plugin .mic.listening img {
  animation: pulse 2s infinite;
}
@keyframes pulse {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 0.5;
    transform: scale(1);
  }
}
.card {
  padding: 0 20px;
  color: #fff;
}
.conversation-plugin {
  background: #28373b;
}
.conversation-plugin .scrollableConv {
  max-width: 70%;
  text-align: center;
  padding: 10px;
}
.conversation-plugin .card {
  margin-top: 20px;
  display: inline-block;
}
.conversation-plugin .card.def {
  background: #216776;
}
.conversation-plugin .card.master {
  background: #396350;
}
.flow-plugin input {
  color: #fff;
  display: flex;
}
.flow-plugin .answers .card {
  background: #216776;
  color: #fff;
  margin-bottom: 20px;
}
.flow-plugin .abandon {
  min-width: 150px;
}
.flow-plugin .abandon input {
  height: 100%;
  background-color: #1f474f;
  color: #fff;
  padding: 20px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
