@font-face {
  font-family: "Public Sans";
  src: url("fonts/PublicSans-VariableFont_wght.ttf") format("truetype");
}
html,
body {
  overflow: hidden;
  font-family: "Public Sans";
}
#apploading {
  background: #121617;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  z-index: 9999999;
  position: absolute;
  top: 0;
  left: 0;
}
.rounded {
  border-radius: 10px;
}
#igoor_logo {
  margin-left: 10px;
  height: 15px;
}
#app {
  display: flex;
  flex-direction: column;
}
#topbar {
  background-color: #121617;
  color: #fff;
  font-size: 10px;
  height: 30px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
header > div,
main > div,
footer > div {
  padding: 10px;
}
header,
main,
footer,
#topbar {
  display: flex;
}
header {
  background: linear-gradient(to bottom, #182022, #263437);
  justify-content: space-evenly;
  height: 20vh;
}
header > * {
  /* Target all direct children of header */
  flex: 1;
  /* Allow each child to fill available space equally */
}
.after_header {
  background: #121617;
}
main {
  height: 60vh;
  background: #999;
}
footer {
  height: 20vh;
}
#hidden {
  display: none;
}
#topbar > div {
  flex: 1;
  /* Make each child div take equal space */
  text-align: center;
  /* Optional: to center text within each div */
}
.settings field {
  width: 100%;
  display: flex;
}
.settings label {
  margin-right: 10px;
}
.card {
  border-radius: 10px;
}
.asrvosk-plugin {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 120px;
}
.asrvosk-plugin .mic {
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
.asrvosk-plugin .mic.listening,
.asrvosk-plugin .mic.recording {
  background: #396350;
}
.asrvosk-plugin .mic.listening {
  background: #3e5e65;
}
.asrvosk-plugin .mic.listening img {
  opacity: 0.4;
  animation: pulse_rec 2s infinite;
}
.asrvosk-plugin .mic.recording img {
  opacity: 1;
  animation: pulse_rec 2s infinite;
}
.asrvosk-plugin .mic.paused {
  background: #a8351b;
}
.asrvosk-plugin .mic.loading {
  background: #3e5e65;
}
.asrvosk-plugin .mic.loading img {
  opacity: 0.2;
}
.autocomplete.plugin {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 50px;
  height: auto;
}
.autocomplete.plugin .autocomplete_input {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 90%;
}
.autocomplete.plugin .autocomplete_input input[name="autocomplete"] {
  border-radius: 10px;
  height: 50px;
  border: none;
  background: #28373b;
  color: #fff;
  font-size: 1rem;
  width: 33vw;
}
.autocomplete.plugin .autocomplete_send {
  display: flex;
  width: 10%;
}
.autocomplete.plugin .autocomplete_send button {
  justify-self: flex-end;
  width: 100%;
  background-color: #407d1c;
  border-radius: 10px;
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
}
.autocompletelauncher.plugin {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
  color: #aaa;
  font-size: 1rem;
}
@keyframes pulse {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 0.2;
    transform: scale(0.7);
  }
  100% {
    opacity: 0.5;
    transform: scale(1);
  }
}
@keyframes pulse_rec {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.card {
  padding: 0 10px;
  color: #fff;
  display: inline-block;
}
.onboarding.plugin {
  top: 0;
  left: 0;
  z-index: 1000;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: #3e5e65;
  color: #fff;
}
.conversation-plugin .scrollableConv {
  max-width: 70%;
  text-align: center;
  padding: 10px;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
.conversation-plugin .scrollableConv::-webkit-scrollbar {
  display: none;
}
.conversation-plugin .card {
  margin-top: 20px;
}
.conversation-plugin .card.def {
  background: #396350;
}
.conversation-plugin .card.master {
  background: #216776;
}
.flow-plugin {
  width: 100%;
}
.flow-plugin .abandon,
.flow-plugin .answers {
  display: flex;
  justify-content: center;
}
.flow-plugin .abandon {
  justify-content: flex-start;
}
.flow-plugin input {
  color: #fff;
  display: flex;
}
.flow-plugin .answers {
  width: 50%;
}
.flow-plugin .answers .card {
  background: #216776;
  color: #fff;
  margin-bottom: 20px;
}
.flow-plugin .abandon {
  min-width: 150px;
}
.flow-plugin .abandon input {
  border-radius: 10px;
  height: 100%;
  background-color: #1f474f;
  color: #fff;
  padding: 20px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
