@font-face {
  font-family: "Public Sans";
  src: url("fonts/PublicSans-VariableFont_wght.ttf") format("truetype");
}
html,
body {
  overflow: hidden;
  font-family: "Public Sans";
}
#apploading {
  background: @darkest;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  z-index: 9999999;
  position: absolute;
  top: 0;
  left: 0;
}

@darkest: #121617;
@bg_gradient: linear-gradient(to bottom, #2a4a51, #1a2223);
@bg_page_light: #edeee7;
@warning: #a8351b;
@green: #396350;
@yes_green: #407d1c;
@accent_100: #0095c0;
@accent_500: #216776;
@accent_700: #23515b;
@accent_900: #1f474f;
@secondary_accent: #407d1c;
@gray_100: #a6bfbf;
@gray_900: #3e5e65;
@footer_button_bg: #23515b;
@back_button_bg: #1f474f;
@phrase_button_bg: #216776;
@phrase_margin_bottom: 20px;
@topbar_bg: #1d1d1d;
@rounded: 10px;
@conversation_bg: #28373b;
@header_bg: linear-gradient(to bottom, #182022, #263437);
.rounded {
  border-radius: @rounded;
}
#igoor_logo {
  margin-left: 10px;
  height: 15px;
}
#app {
  display: flex;
  flex-direction: column;
}
#topbar {
  background-color: @darkest;
  color: #fff;
  font-size: 10px;
  height: 30px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
header > div,
main > div,
footer > div {
  padding: 10px;
}
header,
main,
footer,
#topbar {
  display: flex;
}
header {
  background: @header_bg;
  justify-content: space-evenly;
  height: 20vh;
  > * {
    /* Target all direct children of header */
    flex: 1; /* Allow each child to fill available space equally */
  }
}
.after_header {
  background: @darkest;
}
main {
  height: 60vh;
  background: #999;
}
footer {
  height: 20vh;
}
#hidden {
  display: none;
}
#topbar > div {
  flex: 1; /* Make each child div take equal space */
  text-align: center; /* Optional: to center text within each div */
}
.settings {
  field {
    width: 100%;
    display: flex;
  }
  label {
    margin-right: 10px;
  }
}
.card {
  .rounded;
}
.asrvosk-plugin {
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 120px;

  .mic {
    text-align: center;
    .rounded;
    padding: @rounded;
    &.listening,
    &.recording {
      background: @green;
    }

    &.listening {
      background: @gray_900;
      img {
        opacity: 0.4;
        animation: pulse_rec 2s infinite;
      }
    }
    &.recording {
      img {
        opacity: 1;
        animation: pulse_rec 2s infinite;
      }
    }
    &.paused {
      background: @warning;
    }
    &.loading {
      background: #444;
      img {
        opacity: 0.2;
      }
    }
  }
}
.autocomplete.plugin {
  // border: 1px solid #f00;
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 50px;
  height: auto;
  .autocomplete_input {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 90%;
    input[name="autocomplete"] {
      .rounded;
      height: 50px;
      border: none;
      background: @conversation_bg;
      color: #fff;
      font-size: 1rem;
      width: 33vw;
    }
  }
  .autocomplete_send {
    display: flex;
    width: 10%;
    button {
      justify-self: flex-end;
      width: 100%;
      background-color: @yes_green;
      .rounded;
      border: none;
      color: #fff;
      font-weight: bold;
      font-size: 1rem;
    }
  }
}
.autocompletelauncher.plugin {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
  color: #aaa;
  font-size: 1rem;
}
@keyframes pulse {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 0.2;
    transform: scale(0.7);
  }
  100% {
    opacity: 0.5;
    transform: scale(1);
  }
}
@keyframes pulse_rec {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.card {
  padding: 0 @rounded;
  color: #fff;
  display: inline-block;
}
.onboarding.plugin {
  width: 100vw;
  background: @bg_gradient;
  color: #fff;
  height: 75vh;
  .tabs {
    .rounded;
    font-size: 1.5rem;
  }
  .tabs li {
    background-color: @back_button_bg;
    color: @gray_100;
    &.active {
      background-color: #216776;
      font-weight: bold;
      color: #fff;
    }
  }
  label {
    display: flex;
    color: @gray_100;
    margin: 20px 0 6px 0;
  }
  input,
  textarea,select {
    .rounded;
    background-color: @darkest;
    color: #fff;
    height: 40px;
    border: none;
    width: 100%;
    max-width: 500px;
    padding: 10px 20px;
    font-size: 1.2rem;
  }
  select{
    height: 50px;
  }
  textarea {
    height: 50vh;
  }
  button {
    background-color: @yes_green;
    color: #fff;
    border: none;
    height: 40px;
    .rounded;
    padding: 10px 20px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
  }
}
.conversation-plugin {
  .scrollableConv {
    max-width: 70%;
    text-align: center;
    padding: 10px;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .card {
    margin-top: @phrase_margin_bottom;

    &.def {
      background: @green;
    }
    &.master {
      background: @phrase_button_bg;
    }
  }
}

.flow-plugin {
  .abandon,
  .answers {
    display: flex;
    justify-content: center;
  }
  .abandon {
    justify-content: flex-start;
  }
  width: 100%;
  input {
    color: #fff;
    display: flex;
  }
  .answers {
    width: 50%;
    .card {
      background: @phrase_button_bg;
      color: #fff;
      margin-bottom: @phrase_margin_bottom;
    }
  }
  .abandon {
    min-width: 150px;
    input {
      .rounded;
      height: 100%;
      background-color: @back_button_bg;
      color: #fff;
      padding: 20px;
      text-transform: uppercase;
      font-weight: bold;
      cursor: pointer;
    }
  }
}
