#topbar {
  background-color: #000;
  color: #fff;
  font-size: 10px;
  height: 30px;
  width: 100%;
  justify-content: space-between; /* Space between the items */
  div{
    border: 1px solid #0f0;
  }
}
header,main,footer,#topbar{
  border: 1px solid #f00;
  display: flex
}
header{
  height: 25vh;
  background: #ddd;
  > * { /* Target all direct children of header */
    flex: 1; /* Allow each child to fill available space equally */
  }
}
main{
  height: 50vh;
  background: #999;
}
footer{
  height: 25vh
}
#hidden{
    display: none
}
#topbar > div {
  flex: 1; /* Make each child div take equal space */
  text-align: center; /* Optional: to center text within each div */
}
.settings{
  field{
    width: 100%;
    display: flex
  }
  label{
    margin-right: 10px;
  }
}