@font-face {
  font-family: "Public Sans";
  src: url("fonts/PublicSans-VariableFont_wght.ttf") format("truetype");
}
html,
body {
  overflow: hidden;
  font-family: "Public Sans";
  border: 0;
  margin: 0;
}
#apploading {
  background: #121617;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  z-index: 9999999;
  position: absolute;
  top: 0;
  left: 0;
}
.rounded {
  border-radius: 10px;
}
#igoor_logo {
  margin-left: 10px;
  height: 15px;
}
#app {
  display: flex;
  flex-direction: column;
}
#topbar {
  background-color: #121617;
  color: #fff;
  font-size: 10px;
  height: 30px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
header > div,
main > div,
footer > div {
  padding: 10px;
}
header,
main,
footer,
#topbar {
  display: flex;
}
header {
  background: linear-gradient(to bottom, #182022, #263437);
  justify-content: space-evenly;
  height: 20vh;
}
header > * {
  /* Target all direct children of header */
  flex: 1;
  /* Allow each child to fill available space equally */
}
.after_header {
  background: #121617;
}
main {
  height: 60vh;
  background: #999;
}
footer {
  height: 20vh;
}
#hidden {
  display: none;
}
#topbar > div {
  flex: 1;
  /* Make each child div take equal space */
  text-align: center;
  /* Optional: to center text within each div */
}
.settings field {
  width: 100%;
  display: flex;
}
.settings label {
  margin-right: 10px;
}
.card {
  border-radius: 10px;
}
.asrvosk-plugin {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 120px;
}
.asrvosk-plugin .mic {
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
.asrvosk-plugin .mic.listening,
.asrvosk-plugin .mic.recording {
  background: #396350;
}
.asrvosk-plugin .mic.ready {
  background: #edeee7;
}
.asrvosk-plugin .mic.listening {
  background: #3e5e65;
}
.asrvosk-plugin .mic.listening img {
  opacity: 0.4;
  animation: pulse_rec 2s infinite;
}
.asrvosk-plugin .mic.recording img {
  opacity: 1;
  animation: pulse_rec 2s infinite;
}
.asrvosk-plugin .mic.paused {
  background: #a8351b;
}
.asrvosk-plugin .mic.loading {
  background: #444;
}
.asrvosk-plugin .mic.loading img {
  opacity: 0.2;
}
.autocomplete.plugin {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 50px;
  height: auto;
}
.autocomplete.plugin .autocomplete_input {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 90%;
}
.autocomplete.plugin .autocomplete_input input[name="autocomplete"] {
  border-radius: 10px;
  height: 50px;
  border: none;
  background: #28373b;
  color: #fff;
  font-size: 1rem;
  width: 33vw;
}
.autocomplete.plugin .autocomplete_send {
  display: flex;
  width: 10%;
}
.autocomplete.plugin .autocomplete_send button {
  justify-self: flex-end;
  width: 100%;
  background-color: #407d1c;
  border-radius: 10px;
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
}
.autocompletelauncher.plugin {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
  color: #aaa;
  font-size: 1rem;
}
@keyframes pulse {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 0.2;
    transform: scale(0.7);
  }
  100% {
    opacity: 0.5;
    transform: scale(1);
  }
}
@keyframes pulse_rec {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.card {
  padding: 0 10px;
  color: #fff;
  display: inline-block;
}
.onboarding.plugin {
  width: 100vw;
  background: linear-gradient(to bottom, #2a4a51, #1a2223);
  color: #fff;
  height: 75vh;
}
.onboarding.plugin .tabs {
  border-radius: 10px;
  font-size: 1.5rem;
}
.onboarding.plugin .tabs li {
  background-color: #1f474f;
  color: #a6bfbf;
}
.onboarding.plugin .tabs li.active {
  background-color: #216776;
  font-weight: bold;
  color: #fff;
}
.onboarding.plugin label {
  display: flex;
  color: #a6bfbf;
  margin: 20px 0 6px 0;
}
.onboarding.plugin input,
.onboarding.plugin textarea,
.onboarding.plugin select {
  border-radius: 10px;
  background-color: #121617;
  color: #fff;
  height: 40px;
  border: none;
  width: 100%;
  max-width: 500px;
  padding: 10px 20px;
  font-size: 1.2rem;
}
.onboarding.plugin select {
  height: 50px;
}
.onboarding.plugin textarea {
  height: 50vh;
}
.onboarding.plugin button {
  background-color: #407d1c;
  color: #fff;
  border: none;
  height: 40px;
  border-radius: 10px;
  padding: 10px 20px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
.conversation-plugin .scrollableConv {
  max-width: 70%;
  text-align: center;
  padding: 10px;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
.conversation-plugin .scrollableConv::-webkit-scrollbar {
  display: none;
}
.conversation-plugin .card {
  margin-top: 20px;
}
.conversation-plugin .card.def {
  background: #396350;
}
.conversation-plugin .card.master {
  background: #216776;
}
.flow-plugin {
  width: 100%;
}
.flow-plugin .abandon,
.flow-plugin .answers {
  display: flex;
  justify-content: center;
}
.flow-plugin .abandon {
  justify-content: flex-start;
}
.flow-plugin input {
  color: #fff;
  display: flex;
}
.flow-plugin .answers {
  width: 50%;
}
.flow-plugin .answers .card {
  background: #216776;
  color: #fff;
  margin-bottom: 20px;
}
.flow-plugin .abandon {
  min-width: 150px;
}
.flow-plugin .abandon input {
  border-radius: 10px;
  height: 100%;
  background-color: #1f474f;
  color: #fff;
  padding: 20px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
/*************************************************************************


                                  ZEN 



************************************************************************/
/*                      COLORS
------------------------------------------------------------------------- */
:root {
  /* base colors */
  --basecolor-accent-100: #0095C0;
  --basecolor-accent-500: #3D6C76;
  --basecolor-accent-700: #2F535B;
  --basecolor-accent-900: #25393D;
  --basecolor-secondary-100: #1A9E44;
  --basecolor-secondary-500: #1D6634;
  --basecolor-warning-100: #E53E1A;
  --basecolor-warning-500: #A8351B;
  --basecolor-gray-100: #AFBFBF;
  --basecolor-gray-700: #556265;
  --basecolor-gray-900: #2D3233;
  --basecolor-darkest: #121617;
  --basecolor-white: #FFFFFF;
  --basecolor-bg-light: #EDEEE7;
  /* gradient colors */
  --basecolor-bggrad-0: #374D52;
  --basecolor-bggrad-1: #1E2223;
  --basecolor-bggrad-lev2-0: #384042;
  --basecolor-bggrad-lev2-1: #2C2F30;
  --basecolor-bggrad-overlay-0: #1F2729;
  --basecolor-bggrad-overlay-1: #121617;
}
/* DARK THEME */
:root {
  /* label colors */
  --color-text: var(--basecolor-white);
  --color-placeholder: var(--basecolor-gray-100);
  /* button colors */
  --color-btn-base: var(--basecolor-accent-700);
  --color-btn-form: var(--basecolor-secondary-500);
  --color-btn-other: var(--basecolor-secondary-500);
  --color-btn-hi: var(--basecolor-accent-500);
  --color-btn-low: var(--basecolor-accent-900);
  --color-btn-hilite: var(--basecolor-warning-500);
  --color-btn-rollover-base: var(--basecolor-accent-100);
  --color-btn-rollover-other: var(--basecolor-secondary-100);
  --color-btn-rollover-warning: var(--basecolor-warning-100);
  /* neutral colors */
  --color-gray100: var(--basecolor-gray-100);
  --color-gray700: var(--basecolor-gray-700);
  --color-gray900: var(--basecolor-gray-900);
  /* form components colors */
  --color-inputfocus-border: var(--basecolor-accent-100);
  --color-inputfocus-bg: var(--basecolor-accent-900);
  /* message colors */
  --color-msg: var(--basecolor-accent-700);
  --color-msg-other: var(--basecolor-secondary-500);
  /* background colors */
  --color-bgheader: rgba(18, 22, 23, 0.6);
  --color-bgpage-0: var(--basecolor-bggrad-0);
  --color-bgpage-1: var(--basecolor-bggrad-1);
  --color-bglev2-0: var(--basecolor-bggrad-lev2-0);
  --color-bglev2-1: var(--basecolor-bggrad-lev2-1);
  --color-bgoverlay-0: var(--basecolor-bggrad-overlay-0);
  --color-bgoverlay-1: var(--basecolor-bggrad-overlay-1);
}
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
/*                      FONTS
------------------------------------------------------------------------- */
@font-face {
  font-family: "FontLight";
  src: url("fonts/PublicSans-VariableFont_wght.woff2") format("woff2");
  font-weight: 100;
  font-optical-sizing: auto;
  font-display: swap;
}
@font-face {
  font-family: "FontBold";
  src: url("fonts/PublicSans-VariableFont_wght.woff2") format("woff2");
  font-weight: 400;
  font-optical-sizing: auto;
  font-display: swap;
}
/*                      MAIN
------------------------------------------------------------------------- */
html,
body {
  font-size: 16px;
}
@media only screen and (min-width: 90em) {
  html,
  body {
    font-size: 18px;
  }
}
@media only screen and (min-width: 120em) {
  html,
  body {
    font-size: 21px;
  }
}
body {
  background: linear-gradient(180deg, var(--color-bgpage-0), var(--color-bgpage-1));
  background-attachment: fixed;
  color: var(--color-text);
}
/*                      TYPOGRAPHY
------------------------------------------------------------------------- */
body,
html {
  font-family: FontLight, sans-serif;
  font-style: normal;
}
@font-face {
  font-family: "FontLight";
  src: url("fonts/PublicSans-VariableFont_wght.woff2") format("woff2");
  font-weight: 100;
  font-optical-sizing: auto;
  font-display: swap;
}
@font-face {
  font-family: "FontBold";
  src: url("fonts/PublicSans-VariableFont_wght.woff2") format("woff2");
  font-weight: 400;
  font-optical-sizing: auto;
  font-display: swap;
}
/*                      TYPOGRAPHY: TITLES
------------------------------------------------------------------------- */
h1 {
  font-family: FontBold, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 1.25;
}
h2 {
  font-family: FontLight, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 1.25;
}
h3 {
  font-family: FontLight, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
}
/*                      TYPOGRAPHY: LABELS
------------------------------------------------------------------------- */
.label-primary,
.btn-primary,
.btn-form {
  font-family: FontBold, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3125rem;
  line-height: 1.5rem;
}
.label-secondary,
.btn-secondary {
  font-family: FontBold, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.25;
}
.btn-key {
  font-family: FontBold, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 1.5rem;
}
.label-smallest {
  font-family: FontLight, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1rem;
}
/*                      LOGO
------------------------------------------------------------------------- */
.logo-small {
  height: 1.25rem;
}
/*                      BUTTONS
------------------------------------------------------------------------- */
button {
  outline: 0;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn {
  border-radius: 0.25rem;
  border: none;
  color: var(--color-text);
  box-shadow: inset 0rem 0.0625rem 0.0625rem 0rem rgba(255, 255, 255, 0.25);
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.btn .icon {
  display: block;
  stroke: currentColor;
  fill: none;
}
.btn:hover {
  background-color: var(--color-btn-rollover-base) !important;
}
.btn-primary {
  background-color: var(--color-btn-base);
  padding: 1.5rem 1rem;
}
.btn-secondary {
  background-color: var(--color-btn-base);
  padding: 0.75rem 1rem;
}
.btn-more {
  background-color: var(--color-btn-base);
  padding: 0rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn-form {
  background-color: var(--color-btn-form);
  padding: 1rem 1rem;
}
.btn-form:hover {
  background-color: var(--color-btn-rollover-other) !important;
}
.btn-key {
  background-color: var(--color-btn-hi);
  padding: 1rem 1rem;
  width: 8.5vw;
}
.btn-key-func {
  background-color: var(--color-btn-low);
}
.btn-key-space {
  width: calc(42.5vw + 1rem);
}
.btn-shortcut {
  background-color: transparent;
  box-shadow: none;
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn-hilite {
  background-color: var(--color-btn-hilite);
}
.btn-hilite:hover {
  background-color: var(--color-btn-rollover-warning) !important;
}
/*                      SIDE BUTTONS
------------------------------------------------------------------------- */
.btn-side {
  border-radius: 0;
  box-shadow: none;
  background-color: var(--color-btn-base);
  padding: 1rem;
  width: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 5;
}
.btn-side.btn-side-other {
  background-color: var(--color-btn-other);
}
.btn-side.btn-side-other:hover {
  background-color: var(--color-btn-rollover-other) !important;
}
.btn-side.btn-side-hilite {
  background-color: var(--color-btn-hilite);
}
.btn-side.btn-side-hilite:hover {
  background-color: var(--color-btn-rollover-warning) !important;
}
.btn-side-left {
  left: 0;
}
.btn-side-right {
  right: 0;
}
.btn-header {
  background: none;
  width: auto;
  padding: 0 0.5rem;
}
/*                      MESSAGES
------------------------------------------------------------------------- */
.msg {
  font-family: FontBold, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.375rem;
  line-height: 1.2;
  padding: 1rem 1rem;
  position: relative;
  display: inline-block;
  background-color: var(--color-msg);
  border-radius: 0.5rem 0.5rem 0rem 0.5rem;
  border: none;
  color: var(--color-text);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.msg:after {
  position: absolute;
  content: "";
  right: -1rem;
  bottom: 0;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 1rem 0 0 1rem;
  border-color: transparent transparent transparent var(--color-msg);
}
.msg.msg-other {
  background-color: var(--color-msg-other);
  border-radius: 0.5rem 0.5rem 0.5rem 0rem;
}
.msg.msg-other:after {
  left: -1rem;
  border-width: 0 0 1rem 1rem;
  border-color: transparent transparent var(--color-msg-other) transparent;
}
.msg.msg-small {
  font-size: 0.875rem;
}
