# DEBUG
IGOOR_DEBUG=False
# Set to True to run IGOOR as a server (you can then access it via browser @ http://localhost:9714)
IGOOR_HEADLESS=False

# Set to True to allow access from other devices on your network
# This enables HTTPS (required for microphone access from LAN devices)
# Your browser will show a security warning - click "Advanced" then "Proceed anyway"
IGOOR_ACCESS_FROM_OUTSIDE=False
IGOOR_FULLSCREEN=False
IGOOR_OUTPUT_HTML=False
IGOOR_ONTOP=False
IGOOR_START_LANG="en_EN"